<strong>Olá, {{ provider }}</strong>
<p>
  Houve um cancelamento, confira os detalhes:
</p>
<p>
  <strong>Cliente: {{ user }}</strong>
  <strong>Data/Hora: {{ date }}</strong>
  <br />
  <small>
    O horário está disponível novamente.
  </small>
</p>
